body{
    margin-left: 135px;
    margin-top: 106px;
  
   
}

table, th, td {
    border: .5px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
  }

 

  .header{
      font-family: 'Quicksand', sans-serif;
      background-color: blue;
      display: inline;
      
  }

  .title2 h2{
    font-family: 'Quicksand', sans-serif;
    margin-left: 829;
    margin-top: 235;
}
.title3{
    font-family: 'Quicksand', sans-serif;
}

input[type="submit"]{
    font-family: 'Quicksand', sans-serif;
    width: 86px;
    height: 34px;
    background: #2DA7C2;
    border: none;
    font-size: 14px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}